// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.handle:hover {
  cursor: row-resize;
}

.edit_d {
  display: none;
}

.edit_d.active {
  display: table-cell;
}

.edit_n {
  display: none;
}

.edit_n.active {
  display: table-cell;
}
